{% extends "base.html" %} {% block title %} Item toevoegen {% endblock %} {%
block content %}
<section class="addItem">
  <form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="newArtikelFull">
        <h2 class="tekst">New item</h2>

        <div class="newArtikel form-group">
        <label for="merk">Merk:</label>
        <input type="text" class="form-control" id="merk" name="merk" required />

        <label for="title">Titel:</label>
        <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
        />

        <label for="nummer">Nummer</label>
        <input
            type="number"
            class="form-control"
            id="nummer"
            name="nummer"
            required
        />

        <label for="category">Categorie</label>
        <select class="form-control" id="category" name="category" required>
            <option value="Video">Video</option>
            <option value="Audio">Audio</option>
            <option value="Belichting">Belichting</option>
            <option value="Elektronica">Elektronica</option>
            <option value="Varia">Varia</option>
            <option value="XR">XR</option>
        </select>

        <label for="beschrijving">Beschrijving</label>
        <textarea
            name="beschrijving"
            id="beschrijving"
            placeholder="geef een beschrijving"
            class="form-control"
        ></textarea>

        <label for="file">Afbeelding:</label>
        <input type="file" id="file" name="file" required />

        <button type="submit" class="btn btn-primary">Add item</button>
    </div>
  </form>
</div>
    
</section>

{% endblock %}
