{% extends "base.html" %} {% block title %} Item toevoegen {% endblock %} {%
block content %}
<form method="POST" action="/additem" enctype="multipart/form-data">
  <h2 class="tekst">New item</h2>

  <div class="Nieuwe artikel">
    <label for="merk">merk</label>
    <input type="text" class="from control" id="merk" name="merk" required />

    <label for="title">title</label>
    <input type="text" class="from control" id="title" name="title" required />

    <label for="nummer">nummer</label>
    <input
      type="number"
      class="from control"
      id="nummer"
      name="nummer"
      required
    />

    <label for="category">category</label>
    <select class="from control" id="category" name="category" required>
      <option value="Video">Video</option>
      <option value="Audio">Audio</option>
      <option value="Belichting">Belichting</option>
      <option value="Elektronica">Elektronica</option>
      <option value="Varia">Varia</option>
      <option value="XR">XR</option>
    </select>

    <label for="beschrijving">beschrijving</label>
    <textarea
      name="beschrijving"
      id="beschrijving"
      placeholder="geef een beschrijving"
    ></textarea>

    <label for="file">afbeelding</label>
    <input type="file" class="from control" id="file" name="file" required />

    <button type="submit" class="btn btn-primary">Add item</button>
  </div>
</form>
{% endblock %}
