{% extends "base.html" %} {% block title %}Artikelbeheer{% endblock %} {% block content
%}
<h2 class="tekst">Artikelbeheer</h2>

<!-- Overzicht admin -->

<div class="main">
    <!-- Search bar -->
  <form method="POST" class="searchForm">
    <input type="hidden" name="form_name" value="search" />
    <div class="input-group rounded" id="searchBar">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search" id="searchicon"></i>
      </button>
      
    </div>
    
  </form>

  <!-- Filters -->
  <section class="filters">
    <form method="POST" id="filterForm" class="mb-3">
      <input type="hidden" name="form_name" value="sorteer" />
      <label for="sorteer">Sorteer:</label>
      <select id="sorteer" name="AZ" class="form-select">
        <option value="AZ" {% if sortItems == 'AZ' %} selected {% endif %}>A-Z</option>
        <option value="ZA" {% if sortItems == 'ZA' %} selected {% endif %}>Z-A</option>
      </select>
      <br/>

      <!-- category -->
      <label><span style="font-weight: bold">Categorie:</span></label
        ><br/>
  
        <input type="checkbox" id="Audio" name="category" value="Audio" {% if 'Audio' in selected_categories %} checked {% endif %}/>
        <label for="Audio">Audio</label>
        <br/>
        <input type="checkbox" id="Belichting" name="category"value="Belichting" {% if 'Belichting' in selected_categories %} checked {% endif %}/>
        <label for="Belichting">Belichting</label>
        <br/>
        <input type="checkbox" id="Elektronica" name="category" value="Elektronica" {% if 'Elektronica' in selected_categories %} checked {% endif %}/>
        <label for="Elektronica">Elektronica</label>
        <br/>
        <input type="checkbox" id="Video" name="category" value="Video" {% if 'Video' in selected_categories %} checked {% endif %}/>
        <label for="Video">Video</label>
        <br/>
        <input type="checkbox" id="Varia" name="category" value="Varia" {% if 'Varia' in selected_categories %} checked {% endif %}/>
        <label for="Varia">Varia</label>
        <br/>
        <hr/>
        <label><span style="font-weight: bold">Merk:</span></label>
        <br/>
        <input type="checkbox" id="Apple" name="merk" value="Apple" {% if 'Apple' in selected_merk %} checked {% endif %}/>
        <label for="Apple">Apple</label>
        <br/>
        <input type="checkbox" id="Arduino" name="merk" value="Arduino" {% if 'Arduino' in selected_merk %} checked {% endif %}/>
        <label for="Arduino">Arduino</label>
        <br/>
        <input type="checkbox" id="Canon" name="merk" value="Canon" {% if 'Canon' in selected_merk %} checked {% endif %}/>
        <label for="Canon">Canon</label>
        <br/>
        <input type="checkbox" id="Bresser" name="merk" value="Bresser" {% if 'Bresser' in selected_merk %} checked {% endif %}/>
        <label for="Bresser">Bresser</label>
        <br/>
        <input type="checkbox" id="Rode" name="merk" value="Rode" {% if 'Rode' in selected_merk %} checked {% endif %}/>
        <label for="Rode">Rode</label>
        <br/>
        <hr/>
        <label><span style="font-weight: bold">Type:</span></label
        ><br/>
        <input type="checkbox" id="enkel_product" name="Type_product" value="enkel_product" {% if 'enkel_product' in selected_type %} checked {% endif %}/>
        <label for="enkel_product">enkel product</label>
        <br/>
        <input type="checkbox" id="set" name="Type_product" value="set" {% if 'set' in selected_type %} checked {% endif %}/>
        <label for="set">set</label>
        <br/>
        <input type="checkbox" id="accessoire" name="Type_product"value="accessoire" {% if 'accessoire' in selected_type %} checked {% endif %}/>
        <label for="accessoire">accessoires</label>
        <br/>
        <hr/>
        <label for="beschikbaar">beschikbaar</label>
        <input type="checkbox" id="beschikbaar" name="beschikbaarheid" value="beschikbaar" {% if 'beschikbaar' in selected_categories %} checked {% endif %}/>
        <br/>
        <button type="submit" name="form_name" value="sorteer" class="btn btn-primary">Sorteer</button>
      </form>
    </section>

    
    <div class="add">
      <a href="/additem"><button id="add-button" class="btn btn-primary">Add item</button></a>
    </div>
    

<!-- elke product apart met verwijder of edit knop-->
<section class="catalogus">
{% for artikel in artikels %}
  <div class="card" data-toggle="modal"
  data-target="#bewerkModal{{ loop.index }}"
  data-title="{{ artikel.title }}"
  data-img="{{ url_for('static', filename='images/'+artikel.afbeelding) }}"
  data-desc="{{ artikel.beschrijving }}"
  data-brand="{{ artikel.merk }}">
    <div class="cardcontent">
      <div class="cardimg">
        <img src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}" class="card-img-top" alt="afbeelding"/>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ artikel.title }}</h5>
        <p class="card-text">{{ artikel.merk }}</p>
        <p class="card-text">{{ artikel.nummer }}</p>
        <p class="card-text">{{ artikel.category }}</p>
      </div>
    </div>
  </div>
  <div class="modal fade myModal"
  id="bewerkModal{{ loop.index }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bewerkModalLabel"
  aria-hidden="true">
    <form method="POST" enctype="multipart/form-data">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bewerkModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-left">
              <img class="modal-img" src="" alt="afbeelding"/>
              <input type="file" name="afbeelding_{{ artikel.id }}" />
            </div>
            <div class="modal-right">
              <input type="hidden" name="id" value="{{ artikel.id }}" />
              <input type="text" class="card-title" name="titleInput" value="{{ artikel.title }}"  />
              <input type="text" class="card-text" name="merkInput" value="{{ artikel.merk }}"  />
              <input type="text" class="card-text" name="descInput" value="{{ artikel.beschrijving }}"  />
              <input type="text" class="card-text" name="categoryInput" value="{{ artikel.category }}"/>
            </div>
            
          </div>
          <!-- Actief Inactif knop -->
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" onclick="toggleStatus(this)">
              {{ 'Actief' if artikel.actief else 'Inactief' }}
              <input type="hidden" name="Inactief" value="{{ 0 if artikel.actief else 1 }}">
            <input type="hidden" name="actief" value="{{ 1 if artikel.actief else 0 }}" /> 
          </button>
            <script>
              function toggleStatus(button) {
                let actiefInput = button.closest('form').querySelector('input[name="actief"]');
                if (button.innerHTML.trim() === "Actief") {
                  button.innerHTML = "Inactief";
                  actiefInput.value = 0;
                } else {
                  button.innerHTML = "Actief";
                  actiefInput.value = 1;
                }                
              }
            </script>
          
          
           
            <button class="btn btn-secondary" data-confirm="Bent u zeker dat u dit artikel wenst te verwijderen?" type="submit" name="delete">Delete</button>
            <button class="btn btn-secondary" type="submit" name="save">Save</button>
            <button class="btn btn-secondary" type="reset" id="remove-button">Reset</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>            
{% endfor %}
</section>

</div>

{% endblock %}
