{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<body>

    <h2>Blacklist:</h2>

    <section class="blacklist">
        <table>
            {% for user in users %}
            <tr>
                <td>
                    <div class="box">
                        <p>{{ user.first_name }}</p>
                        <p>Studentennummer: {{ user.student_number }}</p>
                        {% if user.is_banned %}
                            <button class="btn btn-success" onclick="window.location.href='/adminblacklist/{{ user.student_number }}/unban'">Unban</button>
                        {% else %}
                            <button class="btn btn-danger" onclick="window.location.href='/adminblacklist/{{ user.student_number }}/ban'">Ban</button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    
</body>

{% endblock %}

