{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<section class="blacklist">
    <table>
        <tr>
            <th>User</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>User 1</td>
            <td>Status 1</td>
        </tr>
        <tr>
            <td>User 2</td>
            <td>Status 2</td>
        </tr>
        <tr>
            <td>User 3</td>
            <td>Status 3</td>
        </tr>
        <!-- Add more rows as needed -->
    </table>
</section>

{% endblock %}