{% extends "base.html" %} {% block title %}Artikelbeheer{% endblock %} {% block
content %}
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='adminartikels.css') }}"
  />
</head>
<h2 class="tekst">Artikelbeheer</h2>

<!-- Overzicht admin -->
<div class="search-add-container">
  <div class="main">
    <!-- Search bar -->
    <form method="POST" class="searchForm">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="form_name" value="search" />
      <div class="input-group rounded" id="searchBar">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="search"
        />
        <button type="submit" class="btn btn-primary" id="search-addon">
          <i class="bi bi-search" id="searchicon"></i>
        </button>
        <div class="add">
          <a href="/additem" id="add-button" class="btn btn-secondary">
            Add item
          </a>
        </div>
      </div>
    </form>
  </div>

  <!-- Filters -->
  <section class="filters">
    <form method="POST" id="filterForm" class="mb-3">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="form_name" value="sorteer" />
      <div class="azForm">
        <label for="btn-check-outlined-themes-AZ">Sorteer:</label>
        <div class="on-off-checkmark">
          <input type="checkbox" data="baseball" id="AZ" name="AZ" value="AZ" {%
          if sortItems and "AZ" in sortItems %} checked {% endif %} />
          <label for="AZ">AZ</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" data="basketball" id="ZA" name="AZ" value="ZA"
          {% if sortItems and "ZA" in sortItems %} checked {% endif %} />
          <label for="ZA">ZA</label>
        </div>
      </div>

      <!-- Category -->
      <label><span style="font-weight: bold">Categorie:</span></label
      ><br />
      <div class="on-off-checkmark">
        <input type="checkbox" id="Audio" name="category" value="Audio" {% if
        'Audio' in selected_categories %} checked {% endif %}/>
        <label for="Audio">Audio</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Belichting" name="category"
        value="Belichting" {% if 'Belichting' in selected_categories %} checked
        {% endif %}/>
        <label for="Belichting">Belichting</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Elektronica" name="category"
        value="Elektronica" {% if 'Elektronica' in selected_categories %}
        checked {% endif %}/>
        <label for="Elektronica">Elektronica</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Video" name="category" value="Video" {% if
        'Video' in selected_categories %} checked {% endif %}/>
        <label for="Video">Video</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Varia" name="category" value="Varia" {% if
        'Varia' in selected_categories %} checked {% endif %}/>
        <label for="Varia">Varia</label>
      </div>
      <hr />

      <!-- Merk -->
      <label><span style="font-weight: bold">Merk:</span></label
      ><br />

      <div class="on-off-checkmark">
        <input type="checkbox" id="Apple" name="merk" value="Apple" {% if
        'Apple' in selected_merk %} checked {% endif %}/>
        <label for="Apple">Apple</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Arduino" name="merk" value="Arduino" {% if
        'Arduino' in selected_merk %} checked {% endif %}/>
        <label for="Arduino">Arduino</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Canon" name="merk" value="Canon" {% if
        'Canon' in selected_merk %} checked {% endif %}/>
        <label for="Canon">Canon</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Bresser" name="merk" value="Bresser" {% if
        'Bresser' in selected_merk %} checked {% endif %}/>
        <label for="Bresser">Bresser</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="Rode" name="merk" value="Rode" {% if 'Rode'
        in selected_merk %} checked {% endif %}/>
        <label for="Rode">Rode</label>
      </div>
      <hr />

      <!-- Type Product -->
      <label><span style="font-weight: bold">Type:</span></label
      ><br />
      <div class="on-off-checkmark">
        <input type="checkbox" id="enkelProduct" name="Type_product"
        value="enkel_product" {% if 'enkel_product' in selected_type %} checked
        {% endif %}/>
        <label for="enkel_product">enkel product</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="productSet" name="Type_product" value="set"
        {% if 'set' in selected_type %} checked {% endif %}/>
        <label for="productSet">set</label>
      </div>
      <div class="on-off-checkmark">
        <input type="checkbox" id="productAccessoire" name="Type_product"
        value="accessoire" {% if 'accessoire' in selected_type %} checked {%
        endif %}/>
        <label for="productAccessoire">accessoires</label>
      </div>
      <hr />

      <!-- Filteren op datum -->
      <label for="datums">Filter op datum:</label>
      <input
        class="form-control selecteerDatum"
        type="datetime-local"
        id="datums"
        name="datums"
        value="{{ datums }}"
      />
      <br />
      <button
        type="submit"
        name="form_name"
        value="sorteer"
        class="btn btn-primary"
      >
        Filter
      </button>
    </form>
  </section>

  <!-- elke product apart met verwijder of edit knop-->
  <section class="catalogus">
    {% if artikels %} {% for artikel in artikels %}
    <div
      class="card"
      data-toggle="modal"
      data-target="#bewerkModal{{ loop.index }}"
      data-title="{{ artikel.title }}"
      data-img="{{ url_for('static', filename='images/'+artikel.afbeelding) }}"
      data-desc="{{ artikel.beschrijving }}"
      data-brand="{{ artikel.merk }}"
    >
      <div class="cardcontent">
        <div class="cardimg">
          <img
            src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}"
            class="card-img-top"
            alt="afbeelding"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ artikel.title }}</h5>
          <p class="card-text">Artikel-id: {{ artikel.nummer }}</p>
          <p class="card-text">{{ artikel.merk }}</p>
          <p class="card-text">Nummer: {{ artikel.nummer }}</p>

          <p class="card-text">{{ artikel.category }}</p>
        </div>
      </div>
    </div>
    <div
      class="modal fade myModal"
      id="bewerkModal{{ loop.index }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="bewerkModalLabel"
      aria-hidden="true"
    >
      <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-dialog editmodal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bewerkModalLabel"></h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body editmodal-body">
              <div class="modal-left">
                <div class="edit-img">
                  <img
                    class="modal-img"
                    src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}"
                    alt="afbeelding"
                  />
                  <input type="file" name="afbeelding_{{ artikel.id }}" />
                </div>
              </div>
              <div class="modal-right">
                <input type="hidden" name="id" value="{{ artikel.id }}" />
                <input
                  type="text"
                  class="card-title editItem form-control"
                  name="titleInput"
                  value="{{ artikel.title }}"
                />
                <input
                  type="text"
                  class="card-text editItem form-control"
                  name="merkInput"
                  value="{{ artikel.merk }}"
                />
                <textarea
                  class="card-text editItem form-control"
                  id="editBeschrijving"
                  name="descInput"
                >
                {{ artikel.beschrijving }}
                </textarea>
                <input
                  type="text"
                  class="card-text editItem form-control"
                  name="categoryInput"
                  value="{{ artikel.category }}"
                />
              </div>
            </div>
            <!-- Actief Inactif knop -->
            <div class="modal-footer">
              <button class="actiefButton" type="button" id="actiefButton">
                {% if artikel.actief %}
                <i class="fa-solid fa-eye"></i>
                {% else %}
                <i class="fas fa-eye-slash"></i>
                {% endif %}

                <input id="isActief" type="hidden" name="actief" value="true" />
              </button>

              <button
                class="btn btn-secondary"
                data-confirm="Bent u zeker dat u dit artikel wenst te verwijderen?"
                type="submit"
                name="delete"
              >
                Delete
              </button>
              <button class="btn btn-secondary" type="submit" name="save">
                Save
              </button>
              <button class="btn btn-secondary" type="reset" id="remove-button">
                Reset
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endfor %} {% else %}
    <h2>Geen artikels gevonden die voldoen aan de criteria.</h2>
    {% endif %}
  </section>
</div>

{% endblock %}
