{% extends "base.html" %} {% block title %}Blacklist{% endblock %} {% block content
%}
<!-- Pagina waar admin de blacklist kan beheren -->
<main class="main">
<body>
  <h2>Blacklist:</h2>
  <div class="blacklist_wrapper">
    <section class="blacklist_filter">
      <form method="POST">
          <label for="filteren">filter:</label>
          <select id="filteren" name="filteren">
            <option value="all" {% if weergaven == 'all' %} selected {% endif %}>Alles</option>
            <option value="banned" {% if weergaven == 'banned' %} selected {% endif %}>banned</option>
            <option value="niet_banned" {% if weergaven == 'niet_banned' %} selected {% endif %}>niet banned</option>
          </select>
  
          <label for="weergaven">weergaven:</label>
          <select id="weergaven" name="weergaven">
              <option value="voornaam_az" {% if weergaven == 'voornaam_az' %} selected {% endif %}>Voornaam A-Z</option>
              <option value="voornaam_za" {% if weergaven == 'voornaam_za' %} selected {% endif %}>Voornaam Z-A</option>
              <option value="naam_az" {% if weergaven == 'naam_az' %} selected {% endif %}>Naam A-Z</option>
              <option value="naam_za" {% if weergaven == 'naam_za' %} selected {% endif %}>Naam Z-A</option>
              <option value="studentnummer_laag_hoog" {% if weergaven == 'studentnummer_laag_hoog' %} selected {% endif %}>Studentnummer -&gt;</option>
              <option value="studentnummer_hoog_laag" {% if weergaven == 'studentnummer_hoog_laag' %} selected {% endif %}>Studentnummer &lt;-</option>
          </select>
          <button type="submit" value="sorteer" class="btn btn-primary">Filter</button>
      </form>
  </section>
  </section>

  
  <!-- Search bar -->
  <form method="POST" class="searchForm_blacklist">
    <input type="hidden" name="form_name" value="search" />
    <div class="input-group rounded" id="searchBar">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search" id="searchicon"></i>
      </button>
    </div>
  </form>
</div>
<hr>
  <!--blacklist aanmaken-->
  <section class="blacklist">
    {% for user in users %}
      {% if user.type_id in [2, 3] %}
        <div class="user">
          <div class="first-column">
            <p>Naam: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Studentnummer: {{ user.id }}</p>
          </div>
            <form method="POST">
            <div class="second-column">
              <textarea name="reden_blacklist" placeholder="reden"></textarea>
            </div>
            </form>

            <form method="POST" action="">
              <div class="third-column">
              <input type="hidden" name="form_name" value="change_type">
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <label for="type_id_{{ user.id }}">Wijzig Gebruikerstype:</label>
              <select id="type_id_{{ user.id }}" name="type_id" class="form-select">
                  <option value="1" {% if user.type_id == 1 %}selected{% endif %}>Admin</option>
                  <option value="2" {% if user.type_id == 2 %}selected{% endif %}>Student</option>
                  <option value="3" {% if user.type_id == 3 %}selected{% endif %}>Docent</option>
              </select>
              <button type="submit" class="btn btn-primary">Wijzig</button>
              </div>
            </form>
              
          
          <form class="formblacklist" method="POST">
            <div class="fourth-column">
              <div class="status-wrapper">
                
                <div class="status-circle {% if user.blacklisted %}status-red{% else %}status-green{% endif %}"></div>
                <p>Status: {{ "Banned" if user.blacklisted else "Not Banned" }}</p>
              </div>
              <input type="hidden" name="userid" value="{{ user.id }}">
              <button type="submit" name="form_name" value="{% if user.blacklisted %}unban{% else %}ban{% endif %}">
                {% if user.blacklisted %}Unban{% else %}Ban{% endif %}
              </button>
            </div>
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </section>
</main>
</body>

{% endblock %}
