{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h2 class="tekst">artikelbeheer</h2>

<!-- Overzicht admin -->

<div class="main">
    <!-- Search bar -->
  <form method="POST" class="searchForm">
    <input type="hidden" name="form_name" value="search" />
    <div class="input-group rounded" id="searchBar">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search" id="searchicon"></i>
      </button>
    </div>
  </form>

  <!-- Filters -->
  <section class="filters">
    <form method="POST" id="filterForm" class="mb-3">
      <input type="hidden" name="form_name" value="sorteer" />
      <label for="sorteer">Sorteer:</label>
      <select id="sorteer" name="AZ" class="form-select">
        <option value="AZ" {% if sortItems == 'AZ' %} selected {% endif %}>A-Z</option>
        <option value="ZA" {% if sortItems == 'ZA' %} selected {% endif %}>Z-A</option>
      </select>
      <br/>

      <!-- category -->
      <label><span style="font-weight: bold">Categorie:</span></label
        ><br/>
  
        <input type="checkbox" id="Audio" name="category" value="Audio" {% if 'Audio' in selected_categories %} checked {% endif %}/>
        <label for="Audio">Audio</label>
        <br/>
        <input type="checkbox" id="Belichting" name="category"value="Belichting" {% if 'Belichting' in selected_categories %} checked {% endif %}/>
        <label for="Belichting">Belichting</label>
        <br/>
        <input type="checkbox" id="Elektronica" name="category" value="Elektronica" {% if 'Elektronica' in selected_categories %} checked {% endif %}/>
        <label for="Elektronica">Elektronica</label>
        <br/>
        <input type="checkbox" id="Video" name="category" value="Video" {% if 'Video' in selected_categories %} checked {% endif %}/>
        <label for="Video">Video</label>
        <br/>
        <input type="checkbox" id="Varia" name="category" value="Varia" {% if 'Varia' in selected_categories %} checked {% endif %}/>
        <label for="Varia">Varia</label>
        <br/>
        <hr/>
        <label><span style="font-weight: bold">Merk:</span></label>
        <br/>
        <input type="checkbox" id="Apple" name="merk" value="Apple" {% if 'Apple' in selected_merk %} checked {% endif %}/>
        <label for="Apple">Apple</label>
        <br/>
        <input type="checkbox" id="Arduino" name="merk" value="Arduino" {% if 'Arduino' in selected_merk %} checked {% endif %}/>
        <label for="Arduino">Arduino</label>
        <br/>
        <input type="checkbox" id="Canon" name="merk" value="Canon" {% if 'Canon' in selected_merk %} checked {% endif %}/>
        <label for="Canon">Canon</label>
        <br/>
        <input type="checkbox" id="Bresser" name="merk" value="Bresser" {% if 'Bresser' in selected_merk %} checked {% endif %}/>
        <label for="Bresser">Bresser</label>
        <br/>
        <input type="checkbox" id="Rode" name="merk" value="Rode" {% if 'Rode' in selected_merk %} checked {% endif %}/>
        <label for="Rode">Rode</label>
        <br/>
        <hr/>
        <label><span style="font-weight: bold">Type:</span></label
        ><br/>
        <input type="checkbox" id="enkel_product" name="Type_product" value="enkel_product" {% if 'enkel_product' in selected_type %} checked {% endif %}/>
        <label for="enkel_product">enkel product</label>
        <br/>
        <input type="checkbox" id="set" name="Type_product" value="set" {% if 'set' in selected_type %} checked {% endif %}/>
        <label for="set">set</label>
        <br/>
        <input type="checkbox" id="accessoire" name="Type_product"value="accessoire" {% if 'accessoire' in selected_type %} checked {% endif %}/>
        <label for="accessoire">accessoires</label>
        <br/>
        <hr/>
        <label for="beschikbaar">beschikbaar</label>
        <input type="checkbox" id="beschikbaar" name="beschikbaarheid" value="beschikbaar" {% if 'beschikbaar' in selected_categories %} checked {% endif %}/>
        <br/>
        <button type="submit" name="form_name" value="sorteer" class="btn btn-primary">Sorteer</button>
      </form>
    </section>

    <!-- knop om een product toe te voegen-->
    
    <div class="add">
      <a href="/additem"><button id="add-button">Add item</button></a>
    </div>

<!-- elke product apart met verwijder of edit knop-->
<section class="catalogus">

      {% for artikel in artikels %}
      <div class="card">
        <form method="POST" action="{{ url_for('views.artikelbeheer', editable='true') }}">
          <div class="cardcontent">
              <div class="cardming">
                  <img 
                  src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}" 
                  class="card-img-top"
                  alt="afbeelding"/>
              </div>
              <div class="card-body">
                  <input type="text" class="card-title" name="title_{{ artikel.id }}" value="{{ artikel.title }}" {% if not editable %}readonly{% endif %} />
                  <input type="text" class="card-text" name="merk_{{ artikel.id }}" value="{{ artikel.merk }}" {% if not editable %}readonly{% endif %} />
                  <input type="text" class="card-text" name="nummer_{{ artikel.id }}" value="{{ artikel.nummer }}" {% if not editable %}readonly{% endif %} />
                  <input type="text" class="card-text" name="category_{{ artikel.id }}" value="{{ artikel.category }}" {% if not editable %}readonly{% endif %} />
                  <div id="container">
                      {% if not editable %}
                      <button type="submit" name="editable" value="true">Edit item</button>
                      {% else %}
                      <button type="submit" name="save">Save</button>
                      <button type="reset" id="remove-button">Reset</button>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </form>
</section>

    
</div>

{% endblock %}
