<!-- Basetemplate: alle andere templates worden hierop gebaseerd -->
<!DOCTYPE html>
<head lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- De stylesheets die we gebruiken in onze App (Bootstrap, flatpickr en eigen CSS) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <title>{% block title %}Home{% endblock %}</title>

  {% block head %}{% endblock %}
</head>

<body>
  <!-- Navigatiebalk -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        
        {% if user.is_authenticated %}
        <!-- Wordt alleen getoond als gebruiker is ingelogd -->
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        {% if user.type_id == 2 or  user.type_id == 3 %}
        <a class="nav-item nav-link" id="reservaties" href="/userartikels">Reserveringen</a>
        <a class="nav-item nav-link" id="infopagina" href="/infopagina">Infopagina</a>
        {% endif %}
        {% if user.type_id==1 %}
        <!-- Wordt alleen getoond als gebruiker een admin is -->

        <a class="nav-item nav-link" id="artikelbeheer" href="/adminartikels">artikelbeheer</a> 
        <a class="nav-item nav-link" id="blacklist" href="/adminblacklist">Blacklist</a>
        {% endif %}
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="nav-item nav-link" id="login" href="/login">Login</a>
        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
       
        {% endif %}
        
      </div>
      
    </div>
    <!-- Logo van de school -->
    <img
        src="{{ url_for('static', filename='images/ehblogo.png') }}"
        alt="logo"
        width="50"
        height="45"
        id="logo"
        >
    <div  id="usernav">
      <div class="navbar-nav usernav">
        {% if user.is_authenticated %}
        <!-- Wordt alleen getoond als gebruiker is ingelogd -->
          <a class="nav-item nav-link" id="user" href="/">{{ current_user.first_name }}</a>
          
  
        {% endif %}
      </div>
  </nav>

  <!-- Code die ervoor zorgt dat Bootstrap flash messages getoond kunnen worden -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category == 'error'
  %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    
  </div>
  {% elif category == 'normal' %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    
  </div>
  {% elif category == 'modal' %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let flashModalBody = document.getElementById('flashModalBody');
      let flashModal = new bootstrap.Modal(document.getElementById('flashModal'), {});
      flashModalBody.textContent = '{{ message }}';
      flashModal.show();
    });
    </script>
    {% elif category == 'modalerror' %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let errorModalBody = document.getElementById('errorModalBody');
      let errorModal = new bootstrap.Modal(document.getElementById('flashModalError'), {});
      errorModalBody.textContent = '{{ message }}';
      errorModal.show();
    });
    </script>
  {% endif %} {% endfor %} {% endif %}{% endwith %}

  <!-- Flashmodal (Popup messages) -->
  <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="flashModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <h5 class="modal-body" id="flashModalBody">
          
        </h5>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="flashModalError" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="flashModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <h5 class="modal-body" id="errorModalBody">
          
        </h5>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- De content van de pagina  -->
  <div class="container">
    {% block content %} {% endblock %}
  </div>
  

  <!-- De scripts die we gebruiken in onze App (Bootstrap, flatpickr, jQuery en eigen JS) -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='script.js') }}"
  ></script>
</body>
