{% extends "base.html" %} {% block title %}Gebruikersprofiel{% endblock %} {%
block content %}

<section class="Gebruikersprofiel">
  <form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <h2>Gebruikersprofiel</h2>
    <img
      src="{{ url_for('static', filename='profiles/profielfotoDummy.jpg') }}"
      alt="Profile Picture"
    />
    <p class="profielinfo">Voornaam : {{ current_user.first_name }}</p>
    <p class="profielinfo">Achternaam : {{ current_user.last_name }}</p>
    <div id="phoneForm">
      <p class="profielinfo" id="phoneP">
        Telefoonnummer: {{ current_user.phone_number }}
        <button type="button" id="editForm" class="btn btn-primary">
          <i class="fas fa-edit"></i>
        </button>
      </p>
    </div>

    <p class="profielinfo">e-mailadres : {{ current_user.email }}</p>
  </form>
</section>
<script>
  let editForm = document.getElementById("editForm");

  editForm.addEventListener("click", function () {
    let phoneInput = document.createElement("input");
    phoneInput.type = "tel";
    phoneInput.name = "phoneInput";
    phoneInput.id = "phoneInput";
    phoneInput.classList.add("form-control");
    phoneInput.placeholder = "{{ user.phone_number }}";
    let phoneLabel = document.createElement("label");
    phoneLabel.htmlFor = "phoneInput";
    phoneLabel.textContent = "Telefoonnummer: ";
    let submitPhone = document.createElement("button");
    submitPhone.type = "submit";
    submitPhone.classList.add("btn");
    submitPhone.classList.add("btn-primary");
    submitIcon = document.createElement("i");
    submitIcon.classList.add("bi");
    submitIcon.classList.add("bi-check");
    submitPhone.appendChild(submitIcon);
    let div = document.getElementById("phoneForm");
    div.innerHTML = "";
    div.appendChild(phoneLabel);
    div.appendChild(phoneInput);
    div.appendChild(submitPhone);
  });
</script>

{% endblock %}
