{% extends "base.html" %} {% block title %}Gebruikersprofiel{% endblock %} {%
block content %}

<section class="Gebruikersprofiel">
<h2>Gebruikersprofiel</h2>
<form id="profileForm" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div>
    <label for="profilePictureInput">Profielfoto:</label>
    <p>{{ current_user.profile_picture }}</p>
    <input type="file" id="profilePictureInput" name="profile_picture" class="form-control-file" disabled>
  </div>


  <div>
    <label>Voornaam:</label>
    <p>{{ current_user.first_name }}</p>
  </div>

  <div>
    <label>Achternaam:</label>
    <p>{{ current_user.last_name }}</p>
  </div>

  <div>
    <label for="phoneInput">Telefoonnummer:</label>
    <p>{{ current_user.phone_number }}</p>
    <input type="text" id="phoneInput" name="phone_number" class="form-control" value="{{ current_user.phone_number }}" disabled>
  </div>

<button type="button" id="editButton" class="btn btn-primary">Edit</button>
</form>
</section>

<script>
// Initially hide the input fields
let editButton = document.getElementById("editButton");
let phoneInput = document.getElementById("phoneInput");
let profilePictureInput = document.getElementById("profilePictureInput");
let profileForm = document.getElementById("profileForm");

// Initially hide the input fields
phoneInput.style.display = "none";
profilePictureInput.style.display = "none";

editButton.addEventListener("click", function() {
  // Toggle the visibility of the input fields when the "Edit" button is clicked
  if (phoneInput.style.display === "none") {
    phoneInput.style.display = "block";
    profilePictureInput.style.display = "block";
    phoneInput.removeAttribute("disabled");
    profilePictureInput.removeAttribute("disabled");
    editButton.textContent = "Save";
  } else {
    phoneInput.style.display = "none";
    profilePictureInput.style.display = "none";
    phoneInput.setAttribute("disabled", "");
    profilePictureInput.setAttribute("disabled", "");
    editButton.textContent = "Edit";

    // Submit the form
    profileForm.submit();
  }
});
</script>
{% endblock %}
