{% extends "base.html" %} {% block title %}Gebruikersprofiel{% endblock %} {%
block content %}

<section class="Gebruikersprofiel">
<h2>Gebruikersprofiel</h2>
<form id="profileForm" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div class="Gebruikersprofiel">
    <label for="profilePictureInput">Profielfoto:</label>
    <img src={{ current_user.profile_picture }} alt="Profielfoto"> 
    <input type="file" id="profilePictureInput" name="profile_picture" class="form-control-file" disabled>
  </div>


  <div class="Gebruikersprofiel">
    <label>Voornaam:</label>
    <p>{{ current_user.first_name }}</p>
  </div>

  <div class="Gebruikersprofiel">
    <label>Achternaam:</label>
    <p>{{ current_user.last_name }}</p>
  </div>

  <div class="Gebruikersprofiel">
    <label for="phoneInput">Telefoonnummer:</label>
    <input type="text" id="phoneInput" name="phone_number" class="form-control" value="{{ current_user.phone_number }}" disabled>
  </div>

<button type="button" id="editButton" class="btn btn-primary">Edit</button>
</form>
</section>

<script>
  let editButton = document.getElementById("editButton");
  let isEditing = false;

  editButton.addEventListener("click", function() {
    isEditing = !isEditing;

  
    let phoneInput = document.getElementById("phoneInput");
    let profilePictureInput = document.getElementById("profilePictureInput");

    if (isEditing) {
      phoneInput.removeAttribute("disabled");
      profilePictureInput.removeAttribute("disabled");
      editButton.textContent = "Save";
    } else {
      phoneInput.setAttribute("disabled", "");
      profilePictureInput.setAttribute("disabled", "");
      editButton.textContent = "Edit";

      
      document.getElementById("profileForm").submit();
    }
  });
</script>

{% endblock %}
