{% extends "base.html" %} 
{% block title %}Historiek{% endblock %} 
{% block content %} 

<h2 class="tekst">Historiek</h2>

<main class="">
    <!-- Hier komen alle reserveringen -->
    <section class="">
        {% for uitlening in uitleningen %}
        <!-- Reservering word in een card getoond -->
        <div class="">

            <div class="card-body">
                <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
                <p class="card-text">{{ uitlening.artikel.merk }}</p>
                <p class="card-text">Artikel-id: {{ uitlening.artikel.id }}</p>
                <p class="card-text">Data: {{ uitlening.start_date }}-{{ uitlening.end_date }}</p>
                <p class="card-text">User: {{ uitlening.user.first_name }} {{ uitlening.user.last_name }}</p>
                <p class="card-text">User-ID: {{ uitlening.user.id }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}