{% extends "base.html" %} 
{% block title %}Historiek{% endblock %} 
{% block content %} 

<section class="historiekLayout">
    <h2 class="kop-tekst">Historiek</h2>

    <main class="hoofd-inhoud">

        <!-- Search Bar -->
        <form method="POST" class="searchForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="form_name" value="search" />
            <div class="input-group rounded" id="searchBar">
                <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    name="search"
                />
                <button type="submit" class="input-group-text border-0" id="search-addon">
                    <i class="bi bi-search" id="searchicon"></i>
                </button>
            </div>
        </form>
    <!-- Hier komen alle reserveringen -->
    <table class="reservering-tabel">
        <thead class="tabel-kop">
            <tr>
                <th class="kop-cel">Title</th>
                <th class="kop-cel">Merk</th>
                <th class="kop-cel">Artikel ID</th>
                <th class="kop-cel">Datums</th>
                <th class="kop-cel">User</th>
                <th class="kop-cel">User ID</th>
                <th class="kop-cel">Schade aanwezig?</th>
                <th class="kop-cel">Beschrijving schade</th>
                <th class="kop-cel">Foto schade</th>
            </tr>
        </thead>
        <tbody class="tabel-lichaam">
            {% for uitlening in uitleningen %}
            <tr>
                <td class="lichaam-cel">{{ uitlening.artikel.title }}</td>
                <td class="lichaam-cel">{{ uitlening.artikel.merk }}</td>
                <td class="lichaam-cel">{{ uitlening.artikel.id }}</td>
                <td class="lichaam-cel">{{ uitlening.start_date }} - {{ uitlening.return_date }}</td>
                <td class="lichaam-cel">{{ uitlening.user.first_name }} {{ uitlening.user.last_name }}</td>
                <td class="lichaam-cel">{{ uitlening.user.id }}</td>
                <td class="lichaam-cel">
                    {% if uitlening.schade_beschrijving != None %}
                    Ja
                {% else %}
                    Nee
                {% endif %}</td>
                <td class="lichaam-cel">{{ uitlening.schade_beschrijving }}</td>
                <td class="lichaam-cel" id="schadeFoto">
                    {% if uitlening.schade_foto != None %}
                    <image src="{{ url_for('static', filename='schade/' + uitlening.schade_foto) }}"
                    class="card-img-top">
                {% else %}
                    /
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>    
</section>

{% endblock %}