{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%} {% if user.type_id == 1 %}
<h2>Admin</h2>
{% else %}
<h2>Catalogus</h2>
<h2>Welkom {{ user.first_name}}</h2>
{% endif %}
<section class="filters">
  <form method="POST" id="filterBtns">
    <input type="hidden" name="form_name" value="sorteer" />
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="AZ" placeholder="A-Z" id="AZ" value="AZ" />
        A-Z
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="AZ" placeholder="Z-A" id="ZA" value="ZA" />
        Z-A
      </label>
    </div>
    <select id="category" class="custom-select" name="category">
      <option value="All">All</option>
      <option value="Audio">Audio</option>
      <option value="Video">Video</option>
      <option value="Varia">Varia</option>
      <option value="Belichting">Belichting</option>
      <option value="XR">XR</option>
    </select>
    <button type="submit" class="btn btn-primary" id="filterBtn">
      Filter Resultaten
    </button>
  </form>
  <form method="POST">
    <input type="hidden" name="form_name" value="search" />
    <div class="input-group rounded" id="searchBar">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
</section>
<br />
<section class="catalogus card-deck">
  {% for artikel in artikels %}
  <div class="card">
    <img
      src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}"
      class="card-img-top"
      alt="afbeelding"
    />
    <div class="card-body">
      <h5 class="card-title">{{ artikel.title }}</h5>
      <p class="card-text">{{ artikel.beschrijving }}</p>
      <p class="card-text">{{ artikel.merk }}</p>
      <p class="card-text">{{ artikel.nummer }}</p>
      <p class="card-text">{{ artikel.category }}</p>
      <form method="POST">
        <input
          class="form-control selecteerDatum"
          type="datetime-local"
          placeholder="Selecteer datums"
          name="datepicker"
        />
        <input type="hidden" name="form_name" value="reserveer" />
        <input type="hidden" name="artikel_id" value="{{ artikel.id }}" />
        <button type="submit" class="btn btn-primary submitBtn">
          Reserveer
        </button>
      </form>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
