{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    {% if user.type_id == 1 %}
      <h2>Admin</h2>
    {% else %}
      <h2>Catalogus</h2>
      <h2>Welkom {{ user.first_name}}</h2>
    {% endif %}
    
    <form method="PUT">
      <input type="radio" name="AZ" placeholder="A-Z" id="az" value="az" />
      <input type="radio" name="AZ" placeholder="Z-A" id="za" value="za" />
      <select id="category" name="category">
        <option value="all">All</option>
        <option value="audio">Audio</option>
        <option value="video">Video</option>
        <option value="varia">Varia</option>
        <option value="belichting">Belichting</option>
        <option value="xr">XR</option>
      </select>
      <button type="submit">Filter Resultaten</button>
    </form>
    
    <table class="tabel">
      <tr>
        <th>ID</th>
        <th>Merk</th>
        <th>Titel</th>
        <th>Nummer</th>
        <th>Categorie</th>
        <th>Beschrijving</th>
        <th>Afbeelding</th>
        <th>Datums</th>
        <th></th>
      </tr>
      {% for artikel in artikels %}
      <tr>
        <td>{{ artikel.id }}</td>
        <td>{{ artikel.merk }}</td>
        <td>{{ artikel.title }}</td>
        <td>{{ artikel.nummer }}</td>
        <td>{{ artikel.category }}</td>
        <td>{{ artikel.beschrijving }}</td>
        <td>
          <img
            src="{{ url_for('static', filename='images/' + artikel.afbeelding) }}"
            alt="afbeelding"
            width="100"
            height="100"
          ></img>
        </td>
        <form method="POST">
        <td>
          <form method="POST">
            <input class="form-control" type="datetime-local" placeholder="Selecteer een datum" name="datepicker"/>
            <span name="artikelid" value="{{ artikel.id }}"></span>
            
        </td>
        <td>
          <input type="hidden" name="artikel_id" value="{{ artikel.id }}">
    
          <button type="submit">Reserveer</button>
        </td>
        </form>
      </tr>
      {% endfor %}
    </table>
    
    {% endblock %}
    