{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h2 class="tekst">Catalogus</h2>

<div class="main">
  <!-- Search bar -->
  <form method="POST" class="searchForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="form_name" value="search" />
    <div class="input-group rounded" id="searchBar">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="btn btn-primary" id="search-addon">
        <i class="bi bi-search" id="searchicon"></i>
      </button>
    </div>
  </form>

  <!-- Filters -->
  <section class="filters">
    <!-- Knop voor kleine schermen -->
    <button class="btn btn-primary d-block d-sm-none" id="collapseFilterBtn" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
      <i class="fas fa-bars"></i> Filters
    </button>
  
    <!-- Filters voor kleine schermen -->
    <div class="collapse d-sm-none" id="collapseFilters">
      <div class="card"> 
        <div class="card-body">
          <form method="POST" id="filterFormSmall" class="mb-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="form_name" value="sorteer" />
            
            <div class="filter-col-1">
              <!-- Merk Filters -->

              <label><span style="font-weight: bold">Merk:</span></label><br />
              <div class="merkenSmall">
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="AKAISmall" name="merk" value="AKAI" {% if 'AKAI' in selected_merk %} checked {% endif %}/>
                  <label for="AKAISmall">AKAI</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="AKGSmall" name="merk" value="AKG" {% if 'AKG' in selected_merk %} checked {% endif %}/>
                  <label for="AKGSmall">AKG</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="AdafruitSmall" name="merk" value="Adafruit" {% if 'Adafruit' in selected_merk %} checked {% endif %}/>
                  <label for="AdafruitSmall">Adafruit</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="ADJSmall" name="merk" value="ADJ" {% if 'ADJ' in selected_merk %} checked {% endif %}/>
                  <label for="ADJSmall">ADJ</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="AppleSmall" name="merk" value="Apple" {% if 'Apple' in selected_merk %} checked {% endif %}/>
                  <label for="AppleSmall">Apple</label>
                </div>
                
                
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="BehringerSmall" name="merk" value="Behringer" {% if 'Behringer' in selected_merk %} checked {% endif %}/>
                  <label for="BehringerSmall">Behringer</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="BlueSmall" name="merk" value="Blue" {% if 'Blue' in selected_merk %} checked {% endif %}/>
                  <label for="BlueSmall">Blue</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="BresserSmall" name="merk" value="Bresser" {% if 'Bresser' in selected_merk %} checked {% endif %}/>
                  <label for="BresserSmall">Bresser</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="CanonSmall" name="merk" value="Canon" {% if 'Canon' in selected_merk %} checked {% endif %}/>
                  <label for="CanonSmall">Canon</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="DellSmall" name="merk" value="Dell" {% if 'Dell' in selected_merk %} checked {% endif %}/>
                  <label for="DellSmall">Dell</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="DigidesignSmall" name="merk" value="Digidesign" {% if 'Digidesign' in selected_merk %} checked {% endif %}/>
                  <label for="DigidesignSmall">Digidesign</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="DJISmall" name="merk" value="DJI" {% if 'DJI' in selected_merk %} checked {% endif %}/>
                  <label for="DJISmall">DJI</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="EmotivSmall" name="merk" value="Emotiv" {% if 'Emotiv' in selected_merk %} checked {% endif %}/>
                  <label for="EmotivSmall">Emotiv</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="GoogleSmall" name="merk" value="Google" {% if 'Google' in selected_merk %} checked {% endif %}/>
                  <label for="GoogleSmall">Google</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="HPSmall" name="merk" value="HP" {% if 'HP' in selected_merk %} checked {% endif %}/>
                  <label for="HPSmall">HP</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="LaserworldSmall" name="merk" value="Laserworld" {% if 'Laserworld' in selected_merk %} checked {% endif %}/>
                  <label for="LaserworldSmall">Laserworld</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="LibecSmall" name="merk" value="Libec" {% if 'Libec' in selected_merk %} checked {% endif %}/>
                  <label for="LibecSmall">Libec</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="ManfrottoSmall" name="merk" value="Manfrotto" {% if 'Manfrotto' in selected_merk %} checked {% endif %}/>
                  <label for="ManfrottoSmall">Manfrotto</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="MidlandSmall" name="merk" value="Midland" {% if 'Midland' in selected_merk %} checked {% endif %}/>
                  <label for="MidlandSmall">Midland</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="NeutrikSmall" name="merk" value="Neutrik" {% if 'Neutrik' in selected_merk %} checked {% endif %}/>
                  <label for="NeutrikSmall">Neutrik</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="OculusSmall" name="merk" value="Oculus" {% if 'Oculus' in selected_merk %} checked {% endif %}/>
                  <label for="OculusSmall">Oculus</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="PanasonicSmall" name="merk" value="Panasonic" {% if 'Panasonic' in selected_merk %} checked {% endif %}/>
                  <label for="PanasonicSmall">Panasonic</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="PhilipsSmall" name="merk" value="Philips" {% if 'Philips' in selected_merk %} checked {% endif %}/>
                  <label for="PhilipsSmall">Philips</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="RicohSmall" name="merk" value="Ricoh" {% if 'Ricoh' in selected_merk %} checked {% endif %}/>
                  <label for="RicohSmall">Ricoh</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="RodeSmall" name="merk" value="Rode" {% if 'Rode' in selected_merk %} checked {% endif %}/>
                  <label for="RodeSmall">Rode</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="SamyangSmall" name="merk" value="Samyang" {% if 'Samyang' in selected_merk %} checked {% endif %}/>
                  <label for="SamyangSmall">Samyang</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="Shining 3DSmall" name="merk" value="Shining 3D" {% if 'Shining 3D' in selected_merk %} checked {% endif %}/>
                  <label for="Shining 3DSmall">Shining 3D</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="ShureSmall" name="merk" value="Shure" {% if 'Shure' in selected_merk %} checked {% endif %}/>
                  <label for="ShureSmall">Shure</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="SonySmall" name="merk" value="Sony" {% if 'Sony' in selected_merk %} checked {% endif %}/>
                  <label for="SonySmall">Sony</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="VuzeSmall" name="merk" value="Vuze" {% if 'Vuze' in selected_merk %} checked {% endif %}/>
                  <label for="VuzeSmall">Vuze</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="YamahaSmall" name="merk" value="Yamaha" {% if 'Yamaha' in selected_merk %} checked {% endif %}/>
                  <label for="YamahaSmall">Yamaha</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" id="ZoomSmall" name="merk" value="Zoom" {% if 'Zoom' in selected_merk %} checked {% endif %}/>
                  <label for="ZoomSmall">Zoom</label>
                </div>
              </div>
            </div>
  
            <div class="filter-col-2">
              <!-- Category Filters -->
              <label><span style="font-weight: bold">Categorie:</span></label><br />
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="AudioSmall" name="category" value="Audio" {% if 'Audio' in selected_categories %} checked {% endif %}/>
                <label for="Audio">Audio</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="BelichtingSmall" name="category" value="Belichting" {% if 'Belichting' in selected_categories %} checked {% endif %}/>
                <label for="Belichting">Belichting</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="ElektronicaSmall" name="category" value="Elektronica" {% if 'Elektronica' in selected_categories %} checked {% endif %}/>
                <label for="Elektronica">Elektronica</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="VariaSmall" name="category" value="Varia" {% if 'Varia' in selected_categories %} checked {% endif %}/>
                <label for="Varia">Varia</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="VideoSmall" name="category" value="Video" {% if 'Video' in selected_categories %} checked {% endif %}/>
                <label for="Video">Video</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="XRSmall" name="category" value="XR" {% if 'XR' in selected_categories %} checked {% endif %}/>
                <label for="XR">XR</label>
              </div>


              <label id="typeLabel"><span style="font-weight: bold">Type:</span></label>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="enkelProductSmall" name="Type_product" value="enkel_product" {% if 'enkel_product' in selected_type %} checked {% endif %}/>
                <label for="enkelProductSmall">enkel product</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="productSetSmall" name="Type_product" value="set" {% if 'set' in selected_type %} checked {% endif %}/>
                <label for="productSetSmall">set</label>
              </div>
              <div class="on-off-checkmark-small">
                <input type="checkbox" id="productAccessoireSmall" name="Type_product" value="accessoire" {% if 'accessoire' in selected_type %} checked {% endif %}/>
                <label for="productAccessoireSmall">accessoires</label>
              </div>
  
              
              <div class="azForm">
                <label for="btn-check-outlined-themes-AZ-Small">Sorteer:</label>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" data="baseball" id="AZSmall" name="AZ" value="AZ" {% if sortItems and "AZ" in sortItems %} checked {% endif %} />
                  <label for="AZSmall">AZ</label>
                </div>
                <div class="on-off-checkmark-small">
                  <input type="checkbox" data="basketball" id="ZASmall" name="AZ" value="ZA" {% if sortItems and "ZA" in sortItems %} checked {% endif %} />
                  <label for="ZASmall">ZA</label>
                </div>
                
              </div>
  
              <!-- Datum Filter -->
              <label id="datumLabelSmall" for="datumsSmall" style="font-weight: bold">Filter op datum:</label>
              <input class="form-control selecteerDatum" type="datetime-local" id="datumsSmall" name="datums" value="{{ datums }}" /><br />
              <input type="reset" value="Reset">
              <button type="submit" name="form_name" value="sorteer" class="btn btn-primary">Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Voor grote schermen -->
    <div class="d-none d-sm-block">
      <form method="POST" id="filterForm" class="mb-3">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="form_name" value="sorteer" />
  
        <!-- Sorteren  -->
        <div class="azForm">
          <label for="btn-check-outlined-themes-AZ">Sorteer:</label>
          <div class="on-off-checkmark">
            <input type="checkbox" data="baseball" id="AZ" name="AZ" value="AZ" {% if sortItems and "AZ" in sortItems %} checked {% endif %} />
            <label for="AZ">AZ</label>
          </div>
          <div class="on-off-checkmark">
            <input type="checkbox" data="basketball" id="ZA" name="AZ" value="ZA" {% if sortItems and "ZA" in sortItems %} checked {% endif %} />
            <label for="ZA">ZA</label>
          </div>
        </div>
        <!-- Category Filters -->
        <label><span style="font-weight: bold">Categorie:</span></label><br />
        <div class="on-off-checkmark">
          <input type="checkbox" id="Audio" name="category" value="Audio" {% if 'Audio' in selected_categories %} checked {% endif %}/>
          <label for="Audio">Audio</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Belichting" name="category" value="Belichting" {% if 'Belichting' in selected_categories %} checked {% endif %}/>
          <label for="Belichting">Belichting</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Elektronica" name="category" value="Elektronica" {% if 'Elektronica' in selected_categories %} checked {% endif %}/>
          <label for="Elektronica">Elektronica</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Varia" name="category" value="Varia" {% if 'Varia' in selected_categories %} checked {% endif %}/>
          <label for="Varia">Varia</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Video" name="category" value="Video" {% if 'Video' in selected_categories %} checked {% endif %}/>
          <label for="Video">Video</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="XR" name="category" value="XR" {% if 'XR' in selected_categories %} checked {% endif %}/>
          <label for="XR">XR</label>
        </div>
      
        <!-- Merk Filters -->
        <label><span style="font-weight: bold">Merk:</span></label><br />
        <div class="on-off-checkmark">
          <input type="checkbox" id="AKAI" name="merk" value="AKAI" {% if 'AKAI' in selected_merk %} checked {% endif %}/>
          <label for="AKAI">AKAI</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="AKG" name="merk" value="AKG" {% if 'AKG' in selected_merk %} checked {% endif %}/>
          <label for="AKG">AKG</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Adafruit" name="merk" value="Adafruit" {% if 'Adafruit' in selected_merk %} checked {% endif %}/>
          <label for="Adafruit">Adafruit</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="ADJ" name="merk" value="ADJ" {% if 'ADJ' in selected_merk %} checked {% endif %}/>
          <label for="ADJ">ADJ</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Apple" name="merk" value="Apple" {% if 'Apple' in selected_merk %} checked {% endif %}/>
          <label for="Apple">Apple</label>
        </div>
        <details {% if selected_merk %} open {% endif %}>
          <summary>Toon alle merken</summary>
          <div class="on-off-checkmark">
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Behringer" name="merk" value="Behringer" {% if 'Behringer' in selected_merk %} checked {% endif %}/>
          <label for="Behringer">Behringer</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Blue" name="merk" value="Blue" {% if 'Blue' in selected_merk %} checked {% endif %}/>
          <label for="Blue">Blue</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Bresser" name="merk" value="Bresser" {% if 'Bresser' in selected_merk %} checked {% endif %}/>
          <label for="Bresser">Bresser</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Canon" name="merk" value="Canon" {% if 'Canon' in selected_merk %} checked {% endif %}/>
          <label for="Canon">Canon</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Dell" name="merk" value="Dell" {% if 'Dell' in selected_merk %} checked {% endif %}/>
          <label for="Dell">Dell</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Digidesign" name="merk" value="Digidesign" {% if 'Digidesign' in selected_merk %} checked {% endif %}/>
          <label for="Digidesign">Digidesign</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="DJI" name="merk" value="DJI" {% if 'DJI' in selected_merk %} checked {% endif %}/>
          <label for="DJI">DJI</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Emotiv" name="merk" value="Emotiv" {% if 'Emotiv' in selected_merk %} checked {% endif %}/>
          <label for="Emotiv">Emotiv</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Google" name="merk" value="Google" {% if 'Google' in selected_merk %} checked {% endif %}/>
          <label for="Google">Google</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="HP" name="merk" value="HP" {% if 'HP' in selected_merk %} checked {% endif %}/>
          <label for="HP">HP</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Laserworld" name="merk" value="Laserworld" {% if 'Laserworld' in selected_merk %} checked {% endif %}/>
          <label for="Laserworld">Laserworld</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Libec" name="merk" value="Libec" {% if 'Libec' in selected_merk %} checked {% endif %}/>
          <label for="Libec">Libec</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Manfrotto" name="merk" value="Manfrotto" {% if 'Manfrotto' in selected_merk %} checked {% endif %}/>
          <label for="Manfrotto">Manfrotto</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Midland" name="merk" value="Midland" {% if 'Midland' in selected_merk %} checked {% endif %}/>
          <label for="Midland">Midland</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Neutrik" name="merk" value="Neutrik" {% if 'Neutrik' in selected_merk %} checked {% endif %}/>
          <label for="Neutrik">Neutrik</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Oculus" name="merk" value="Oculus" {% if 'Oculus' in selected_merk %} checked {% endif %}/>
          <label for="Oculus">Oculus</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Panasonic" name="merk" value="Panasonic" {% if 'Panasonic' in selected_merk %} checked {% endif %}/>
          <label for="Panasonic">Panasonic</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Philips" name="merk" value="Philips" {% if 'Philips' in selected_merk %} checked {% endif %}/>
          <label for="Philips">Philips</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Ricoh" name="merk" value="Ricoh" {% if 'Ricoh' in selected_merk %} checked {% endif %}/>
          <label for="Ricoh">Ricoh</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Rode" name="merk" value="Rode" {% if 'Rode' in selected_merk %} checked {% endif %}/>
          <label for="Rode">Rode</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Samyang" name="merk" value="Samyang" {% if 'Samyang' in selected_merk %} checked {% endif %}/>
          <label for="Samyang">Samyang</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Shining 3D" name="merk" value="Shining 3D" {% if 'Shining 3D' in selected_merk %} checked {% endif %}/>
          <label for="Shining 3D">Shining 3D</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Shure" name="merk" value="Shure" {% if 'Shure' in selected_merk %} checked {% endif %}/>
          <label for="Shure">Shure</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Sony" name="merk" value="Sony" {% if 'Sony' in selected_merk %} checked {% endif %}/>
          <label for="Sony">Sony</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Vuze" name="merk" value="Vuze" {% if 'Vuze' in selected_merk %} checked {% endif %}/>
          <label for="Vuze">Vuze</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Yamaha" name="merk" value="Yamaha" {% if 'Yamaha' in selected_merk %} checked {% endif %}/>
          <label for="Yamaha">Yamaha</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="Zoom" name="merk" value="Zoom" {% if 'Zoom' in selected_merk %} checked {% endif %}/>
          <label for="Zoom">Zoom</label>
        </div>
        </details>
        

  
        <!-- Type Product Filters -->
        <label><span style="font-weight: bold">Type:</span></label>
        <div class="on-off-checkmark">
          <input type="checkbox" id="enkelProduct" name="Type_product" value="enkel_product" {% if 'enkel_product' in selected_type %} checked {% endif %}/>
          <label for="enkelProduct">Enkel product</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="productSet" name="Type_product" value="set" {% if 'set' in selected_type %} checked {% endif %}/>
          <label for="productSet">set</label>
        </div>
        <div class="on-off-checkmark">
          <input type="checkbox" id="productAccessoire" name="Type_product" value="accessoire" {% if 'accessoire' in selected_type %} checked {% endif %}/>
          <label for="productAccessoire">accessoires</label>
        </div>
  
        <!-- Date Filter -->
        <div id="datumFilters"> 
          <label for="datums">Filter op datum:</label>
          <input class="form-control selecteerDatum" placeholder="Selecteer Datums" type="datetime-local" id="datums" name="datums" value="{{ datums }}" /><br />
          <button type="submit" name="form_name" value="sorteer" class="btn btn-primary">Filter</button>
        </div>

      </form>
    </div>
  </section>
  

  <!-- catalogus -->
  <section class="catalogus">
    {% if artikels %} {% for artikel in artikels %}

    <div
      class="card {% if artikel.id in unavailable_article_ids %}unavailable{% endif %}"
    >
      <div
        id="carouselExampleIndicators{{ loop.index }}"
        class="carousel slide"
        data-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- Content van het artikel -->
            <div class="cardcontent">
              <div class="cardimg">
                <img
                  src="{{ url_for('static', filename='images/'+artikel.afbeelding) }}"
                  class="card-img-top"
                  alt="afbeelding"
                />
              </div>

              <div class="card-body">
                {% if artikel.id in unavailable_article_ids %}
                <div class="unavailable-overlay">
                  <h6 class="unavailable-text">Niet beschikbaar</h6>
                </div>
                {% endif %}
                <h5 class="card-title">{{ artikel.title }}</h5>
                <p class="card-text">{{ artikel.merk }}</p>
                
                <p class="card-text">{{ artikel.category }}</p>
                {% if artikel.id in unavailable_article_ids %}
                {% else %}
                <form method="POST" class="datumForm">
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                  />
                  <div class="datumReserveer">
                    <input class="form-control selecteerDatum card-button"
                    type="datetime-local" placeholder="Selecteer datums"
                    name="datepicker" data-item-id="{{ artikel.id }}"
                    data-user-id="{{ user.type_id }}" data-is-multiple="{{
                    is_multiple_dict[artikel.id] }}" data-amount="{{ artikel.nummer }}">
                    


                    <input type="hidden" name="form_name" value="reserveer" />
                    <input
                      type="hidden"
                      name="artikel_id"
                      value="{{ artikel.id }}"
                    />
                    <button
                      type="submit"
                      class="btn btn-primary submitBtn card-button"
                    >
                      Reserveer
                    </button>
                  </div>
                </form>
                {% endif %}
                
              </div>
            </div>
          </div>
          <div class="carousel-item carddescriptioncrsl">
            <!-- Content van het artikel -->
            <div class="cardcontent">
              <div class="card-body description-slide">
                <h6>Beschrijving:</h6>
                <p>{{ artikel.beschrijving }}</p>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev carouselBtn"
          href="#carouselExampleIndicators{{ loop.index }}"
          role="button"
          data-slide="prev"
        >
          <i class="fas fa-chevron-left"></i>
        </a>
        <a
          class="carousel-control-next carouselBtn"
          href="#carouselExampleIndicators{{ loop.index }}"
          role="button"
          data-slide="next"
        >
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
    
    <!-- Als er geen artikels gevonden zijn voor de zoekopdracht -->
    {% endfor %} {% elif not artikels %}
    <h2>Geen artikels gevonden die voldoen aan de criteria.</h2>
    {% endif %}
  </section>
</div>
</div>
{% endblock %}
