{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<main class="dashboardmain">
  <h2>Admin Dashboard</h2>
  <br />
  <!-- Volledige dashboard -->
  <section class="dashboardfull">
    <!-- Beheersectie van de dashboard -->
    <section class="dashboardbeheer">
      <section class="beheer">
        <!-- Kiezen of een artikel wordt opgehaald of ingeleverd -->
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input
              type="radio"
              name="options"
              id="option1"
              autocomplete="off"
              checked
            />
            Ophalen
          </label>
          <label class="btn btn-secondary">
            <input
              type="radio"
              name="options"
              id="option2"
              autocomplete="off"
            />
            Inleveren
          </label>
        </div>
        <!-- Form om een artikel op te halen of in te leveren -->
        <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="uitleningform form-group">
            <!-- Form naam ophalen of inleveren word in Javascript gewijzigd naar gelang de keuze -->
            <input
              id="form_name"
              type="hidden"
              name="form_name"
              value="ophalen"
            />
            <label for="artikelIdInput">Artikel-id:</label>
            <input
              type="text"
              name="artikelid"
              class="form-control"
              id="artikelIdInput"
              placeholder="Artikel-id"
            />
            <label for="useridInput">User-id:</label>
            <input
              type="text"
              name="userid"
              class="form-control"
              id="userIdInput"
              placeholder="User-id"
            />
            <!-- Hier komt de afbeelding van het gekozen product -->
            <div class="uitleenInfo">
              <div id="artikelExtra"></div>
              <div id="userExtra"></div>
              <div id="uitleeninputs"></div>
            </div>

            <!-- Hier komen de extra inputs indien het artikel wordt ingeleverd -->

            <button type="submit" class="btn btn-primary" id="beheerKnop">
              <p id="uitleentekst">Het artikel is opgehaald</p>
              <i class="bi bi-check"></i>
            </button>
          </div>
        </form>
      </section>
      <section class="historiekSection">
        <a class="btn btn-primary" href="/historiek">
          <h3>Historiek</h3>
        </a>
      </section>
      <section class="artikelsOvertijd">
        {% if artikelsOvertijd %}
        <h3 style="color: #721c24">Artikels die over tijd zijn:</h3>
        <div class="overtijd">
          {% for uitlening in artikelsOvertijd %}
          <div
            class="card terugcard"
            data-artikelid="{{ uitlening.artikel.id }}"
            data-userid="{{ uitlening.user.id }}"
          >
            <div class="cardimg">
              <img
                src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
                class="card-img-top"
                alt="afbeelding"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
              <p class="card-text">Artikel-id: {{ uitlening.artikel.id }}</p>
              <p class="card-text">
                Data: {{ uitlening.start_date }}-{{ uitlening.end_date }}
              </p>
              <p class="card-text">
                User: {{ uitlening.user.first_name }} {{
                uitlening.user.last_name }}
              </p>
              <p class="card-text">User-ID: {{ uitlening.user.id }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h3 style="color: #155724">Geen artikels over tijd</h3>
        {% endif %}
      </section>
    </section>
    <section class="dashboard">
      <!-- Hier worden de datums van de huidige week getoond en kan de admin naar volgende of vorige weken navigeren -->
      <div class="datumdashboard">
        <form method="POST" class="prevnextweek">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="form_name" value="prevweek" />
          <input type="hidden" name="huidigedatum" value="{{ datum }}" />
          <button type="submit" class="previous round btn-primary">
            &#8249;
          </button>
        </form>
        <div class="weekDisplay">
          <form>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button
              type="submit"
              name="form_name"
              value="reset_week"
              class="round btn-secondary"
              style="visibility: {% if not huidigeWeek %}visible{% else %}hidden{% endif %};"
            >
              <i class="fas fa-undo"></i>
            </button>
          </form>

          <h3 id="date">Week:{{ datumbeginweek }} - {{ datumeindweek }}</h3>
        </div>

        <form method="POST" class="prevnextweek">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="form_name" value="nextweek" />
          <input type="hidden" name="huidigedatum" value="{{ datum }}" />
          <button type="submit" class="next round btn-primary">&#8250;</button>
        </form>
      </div>
      <!-- Overzicht artikels per week -->
      <section class="overzicht">
        <!-- Artikels die op maandag van de week gepland staan om opgehaald te worden -->
        <section class="ophaalsection">
          {% if artikelsophaal %}
          <h3>Op te halen:</h3>
          <div class="ophaal">
            {% for uitlening in artikelsophaal %}
            <div
              class="card ophaalcard"
              data-artikelid="{{ uitlening.artikel.id }}"
              data-userid="{{ uitlening.user.id }}"
            >
              <div class="cardimg">
                <img
                  src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
                  class="card-img-top"
                  alt="afbeelding"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ uitlening.artikel.title }}</h5>

                <p class="card-text">
                  Datums: {{ uitlening.start_date }} - {{ uitlening.end_date }}
                </p>
                <p class="card-text">Artikel-ID: {{ uitlening.artikel.id }}</p>
                <p class="card-text">User-ID: {{ uitlening.user.id }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <h3>Geen artikels om op te halen</h3>
          {% endif %}
        </section>
        <!-- Artikels die gepland staan om op vrijdag van de gekozen week ingeleverd te worden -->
        <section class="terugsection">
          {% if artikelsterug %}
          <h3>Terug te brengen:</h3>
          <div class="terug">
            {% for uitlening in artikelsterug %}

            <div
              class="card terugcard"
              data-artikelid="{{ uitlening.artikel.id }}"
              data-userid="{{ uitlening.user.id }}"
            >
              <div class="cardimg">
                <img
                  src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
                  class="card-img-top"
                  alt="afbeelding"
                />
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
                <p class="card-text">
                  Datums: {{ uitlening.start_date }} - {{ uitlening.end_date }}
                </p>
                <p class="card-text">Artikel-ID: {{ uitlening.artikel.id }}</p>
                <p class="card-text">User-ID: {{ uitlening.user.id }}</p>
              </div>
            </div>
            {% endfor %}
          </div>

          {% else %}
          <h3>Geen artikels om terug te brengen</h3>
          {% endif %}
        </section>
      </section>
    </section>
  </section>
</main>

{% endblock %}
