{% extends "base.html" %} {% block title %}Infopagina{% endblock %} {% block
    content %}

    
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='infopagina.css') }}">
</head>

 <!--infopagina met openingsuren en contact-->


 <section class="Infopagina">

    <!-- Reglement-->
    <div class="reglement">
      <h2>Reglement</h2>
      
            <div class="reglementText">
              <h4>Algemene voorwaarden</h4>
              
                  <p>Bij het ophalen en terugbrengen van items moet de geldige identificatie van de persoon die het item ophaalt getoond worden.</p>
                  <p>Elk item moet geregistreerd worden bij het ophalen en terugbrengen, inclusief datum, tijd en handtekening van de verantwoordelijke persoon.</p>
              
          
              <h4>Ophaalbeleid</h4>
              
                  <p>Items mogen uitsluitend op maandag worden opgehaald. Het is niet toegestaan om op andere dagen items op te halen.</p>
              
      
              <h4>Terugbrengbeleid</h4>
              
                  <p>Alle opgehaalde items dienen op dezelfde week op vrijdag teruggebracht te worden.</p>
                  <p>In het geval dat een verlenging nodig is, mag een verlenging automatisch uitgevoerd worden. Een verlengd item hoeft niet op de eerstvolgende vrijdag teruggebracht te worden, maar op de vrijdag van de verlengde periode.</p>
              
        
              <h4>Verlengen</h4>
            
                  <p> Studenten mogen elk item maximaal één keer verlengen, wat betekent dat het item één extra week mag worden bijgehouden.</p>
                  <p> Indien een student kiest om een item te verlengen, wordt deze verlenging automatisch toegepast zonder de noodzaak van bevestiging door een bevoegde instantie.</p>
            
        
              <h4>Sancties</h4>
                  <p> Voor items die niet op de afgesproken datum teruggebracht worden, en waarvoor geen verlenging is toegepast, kunnen boetes of andere sancties opgelegd worden.</p>
                  <p> De persoon die het item heeft opgehaald is verantwoordelijk voor het behoud en de goede staat van het item. In geval van verlies of beschadiging kan een vervangings- of reparatiekost in rekening worden gebracht.</p>
            </div>
    </div>
  
    <!-- Openingsuren-->
    <div class="openingsurenInfopagina">
      <!-- Openingsuren -->
      <h3>Openingsuren</h3>
      <table>
          <tr>
              <th class="dag">Maandag</th>
              <td class="uur">12:30 - 17:00</td>
          </tr>
          <tr>
              <th class="dag">Dinsdag</th>
              <td class="uur">gesloten</td>
          </tr>
          <tr>
              <th class="dag">Woensdag</th>
              <td class="uur">gesloten</td>
          </tr>
          <tr>
              <th class="dag">Donderdag</th>
              <td class="uur">gesloten</td>
          </tr>
          <tr>
              <th class="dag">Vrijdag</th>
              <td class="uur">12:30 - 17:00</td>
          </tr>
      </table>
  </div>
  
    <!-- Contact -->
    <div class="AdrescontactInfopagina">
      <h2>Contact</h2>
      <p>E-mail: mm@ehb.be</p>
      <p>Telefoon:  02 899 71 00</p>
      <h2>Adres</h2>
      <p>Quai de l'Industrie 170, 1070 Anderlecht</p> 
      
    </div>
  
  </section>
  
  {% endblock %}