{% extends "base.html" %} {% block title %}Infopagina{% endblock %} {% block
    content %}

 <!--infopagina met openingsuren en contact-->


 <section class="Infopagina">

    <!-- Reglement-->
    <div class="reglement">
      <h2>Reglement</h2>
      <p>.....................</p>
    </div>
  
    <!-- Openingsuren-->
    <div class="openingsurenInfopagina">
      <h2>Openingsuren</h2>
      <hr>
      <p>Maandag - Dinsdag&nbsp;&nbsp;:12:30 - 17:00</p><hr>
      <p>Woensdag:gesloten</p><hr>
      <p>Donderdag:09:30 - 12:30</p><hr>
      <p>Vrijdag:12:30 - 17:00</p>
    </div>
  
    <!-- Contact -->
    <div class="AdrescontactInfopagina">
      <h2>Contact</h2>
      <p>E-mail: mm@ehb.be</p>
      <p>Telefoon:  02 899 71 00</p>
      <h2>Adres</h2>
      <p>Quai de l'Industrie 170, 1070 Anderlecht</p> 
      
    </div>
  
  </section>
  
  {% endblock %}