{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>


<!-- Inlogpagina -->

<main class="loginMain">
  <section class="loginInfo">
    <div class="form-group" id="loginform">
      <h2>Login</h2>
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email" 
        />
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="openingsuren">
      <!-- Openingsuren -->
      <h3>Openingsuren</h3>
      <table>
        <tr>
          <th class="dag">Maandag</td>
          <td class="uur">12:30 - 17:00</td>
        </tr>
        <tr>
          <th class="dag">Dinsdag</td>
          <td class="uur">gesloten</td>
        </tr>
        <tr>
          <th class="dag">Woensdag</td>
          <td class="uur">gesloten</td>
        </tr>
        <tr>
          <th class="dag">Donderdag</td>
          <td class="uur">gesloten</td>
        </tr>
        <tr>
          <th class="dag">Vrijdag</td>
          <td class="uur">12:30 - 17:00</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="adresContact">
    <div class="adres">
      <h3>Adres:</h3>
      <p>Quai de l'Industrie 170, 1070 Anderlecht</p>
    </div>
    <div class="contact">
      <h3>Contact:</h3>
      <p>E-mail: mm@ehb.be</p>
      <p>Telefoon: 02 899 71 00</p>
    </div>
</section>

<div class="copyright">
  <p>© 2009 - 2024 Erasmushogeschool Brussel  |  Vragen? <a href="https://ehbits.atlassian.net/wiki/spaces/IT/overview">Contacteer de helpdesk!</a></p>
</div>
</main>
{% endblock %}
