{% extends "base.html" %} {% block title %}Reservaties{% endblock %} {% block
content %}

<!-- Reserveringen bekijken -->
<h2>Reserveringen</h2>
<main class="reservatiemain">
  {% if uitleningen_actief or uitleningen%}
  <!-- Hier komen alle reserveringen -->
  <section class="reservatiescherm">
    {% for uitlening in uitleningen_actief%}
    <!-- Reservering word in een card getoond -->
    <div class="card">
      <div class="cardimg">
        <img
          src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
          class="card-img-top"
          alt="afbeelding"
        />
      </div>

      <div class="card-body">
        <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
        <p class="card-text">{{ uitlening.artikel.merk }}</p>
        <p class="card-text">Van: {{ uitlening.start_date }}</p>
        <p class="card-text">Tot: {{ uitlening.end_date }}</p>
        <p class="card-text">{{ uitlening.artikel.category }}</p>
        <form method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="form_name" value="verleng" />
          <input type="hidden" name="uitlening_id" value="{{ uitlening.id }}" />
          <button
            class="btn btn-primary"
            type="submit"
            value="verleng"
            
            
            {% if uitlening.verlengd == True %} disabled="disabled" {% endif %} 
            
          >
            
            Verlengen
          </button>
          
        </form>
      </div>
    </div>

    {% endfor %} {% for uitlening in uitleningen%}
    <div class="card">
      <div class="cardimg">
        <img
          src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
          class="card-img-top"
          alt="afbeelding"
        />
      </div>

      <div class="card-body">
        <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
        <p class="card-text">{{ uitlening.artikel.merk }}</p>
        <p class="card-text">Van: {{ uitlening.start_date }}</p>
        <p class="card-text">Tot: {{ uitlening.end_date }}</p>
        <p class="card-text">{{ uitlening.artikel.category }}</p>
        <form method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="form_name" value="annuleer" />
          <input type="hidden" name="uitlening_id" value="{{ uitlening.id }}" />
          <button class="btn btn-danger" type="submit" value="annuleer">
            Annuleren
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% for uitlening in uitleningen_teruggebracht%}
    <div class="card">
      <div class="cardimg">
        <img
          src="{{ url_for('static', filename='images/' + uitlening.artikel.afbeelding) }}"
          class="card-img-top"
          alt="afbeelding"
        />
      </div>

      <div class="card-body">
        <h5 class="card-title">{{ uitlening.artikel.title }}</h5>
        <p class="card-text">{{ uitlening.artikel.merk }}</p>
        <p class="card-text">Van: {{ uitlening.start_date }}</p>
        <p class="card-text">Tot: {{ uitlening.return_date }}</p>
        <p class="card-text">{{ uitlening.artikel.category }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  {% else %}
  <!-- Als er geen reserveringen zijn -->
  <section class="geenreservaties">
    <h3>U heeft nog niks gereserveerd.</h3>
    <a href="/">Terugkeren naar catalogus</a>
  </section>

  {% endif %}
</main>

{% endblock %}
