{% extends "base.html" %} {% block title %}Reservaties{% endblock %} {% block
content %}

<h2>Gereserveerde items:</h2>
<table class="tabel">
  <tr>
    <th>ID</th>
    <th>Startdatum</th>
    <th>Einddatum</th>
    <th>ArtikelID</th>
    <th>UserID</th>
    <th></th>
  </tr>
  {% for uitlening in uitleningen %}
  <tr>
    <td>{{ uitlening.id }}</td>
    <td>{{ uitlening.start_date }}</td>
    <td>{{ uitlening.end_date }}</td>
    <td>{{ uitlening.artikel_id }}</td>
    <td>{{ uitlening.user_id }}</td>
    <td><a href="/verwijder/{{ uitlening.id }}">Verwijder</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
