/* admin homepage */

/* Volledige dashboardsection */
.dashboardmain {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-height: 100%;
}

.dashboardfull {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-height: 1500px;
}

.cardimg img {
  max-width: 100%;
  max-height: 100%;
}

/* Rechtersectie dashboard */
.dashboard {
  min-width: 70%;
  max-width: 70%;
}
/* Overzicht ophalen en inleveren */
.overzicht {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
  min-width: 80%;
  background-color: #f5f5f7;
}

.overzicht h3 {
  text-align: center;
  margin-top: 3%;
}

/* Ophaalsectie */
.ophaal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 100%;
}

.ophaalsection {
  border-right: 1px solid black;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ophaal .card {
  min-width: 45%;
  max-width: 45%;
  margin: 5px;
  min-height: 400px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  max-height: 530px;
}

.ophaalcard .card-body .card-text,
.terugcard .card-body .card-text {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Terugbrengsectie */
.terug {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.terugsection {
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terug {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.terug .card {
  min-width: 45%;
  max-width: 45%;
  margin: 5px;
  max-height: 530px;
  min-height: 400px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.terug .card .cardimg,
.ophaal .card .cardimg {
  min-height: 50%;
}

.terug .card .cardimg .card-img-top,
.ophaal .card .cardimg .card-img-top {
  max-height: 100%;
}

/* Weekdisplay */

.datumdashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 40%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f5f5f7;
}

.prevnextweek {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}

.datumdashboard button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: none;
  min-width: fit-content;
}

#resetweek {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: none;
  min-width: fit-content;
  border-radius: 10px !important;
}

.round {
  border-radius: 50%;
}

/* Beheersectie dashboard */
.dashboardbeheer {
  min-width: 25%;
  max-height: 1500px;
  margin-right: 10px;
}

.beheer {
  border: none;
  background: #2c2e3a;
  border-radius: 7px;
}

.beheer .btn-group {
  min-width: 100%;
  cursor: pointer;
}

.beheer .btn-group label {
  cursor: pointer;
}

.uitleningform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  padding-top: 1%;
  margin-bottom: 0;

  color: #dee2e6;
}

.uitleningform button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.beheerInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 95%;
  max-width: 95%;
  margin-bottom: 5px;

  margin-top: 10px;
}

.beheerInputDiv input {
  max-width: 80%;
}

.beheerInputDiv label {
  margin-right: 10px;
  margin-bottom: 0;
}

#userIdInput {
  margin-left: 10px;
}

/* Dynamisch gegenereerde info en inputs */
.questionDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.questionDiv div {
  margin-left: 5px;
}

#uitleentekst {
  margin: 0;
}

#artikelExtra {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#artikelExtra h3 {
  text-align: center;
  color: #dee2e6;
  max-width: 90%;
}
#artikelExtra img {
  max-width: 65%;
  border-radius: 10px;
}

#userExtra {
  margin-top: 10px;
  max-width: 100%;
  color: #dee2e6;
}

.uitleenInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  max-width: 80%;
  min-height: 0%;
  margin-top: 1%;
  background-color: #2c2e3a;

  border-radius: 15px;
  margin-bottom: 2%;
  margin-top: 2%;
}

#uitleeninputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  max-width: 90%;

  margin-bottom: 1%;
  color: #dee2e6;
}

#schadeP {
  max-width: fit-content;
  min-width: fit-content;
  margin: 0 5px 0 5px;
}

#fotoUpload {
  margin-left: 37%;
}

#schadeBeschrijving {
  margin-bottom: 10px;
}

.gebruikDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 90%;
  margin-top: 1%;
}

.gebruikDiv p {
  margin: 0;
}

.gebruikDiv div {
  margin: 0 5px 0 5px;
}

/* Artikels die te laat zijn */

.artikelsOvertijd {
  min-width: 100%;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.432);
  background: #f5f5f7;
  border-radius: 7px;
  max-height: fit-content;
}

.overtijd {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  max-height: fit-content;
}

.artikelsOvertijd .card {
  min-width: 0;
  min-height: 0;

  max-width: 45%;
  margin: 5px;
  max-height: 530px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

/* Knop naar historiek */

.historiekSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.432);
  border-radius: 7px;
  min-width: 100%;
  background-color: #f5f5f7;
  margin: 2px 0 2px 0;
}

.historiekSection a {
  min-width: 100%;
}

.historiekSection a h3 {
  margin-top: 2%;
}

.weekDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 70%;
}

.weekDisplay button {
  min-height: 40px;
  max-width: 38.44px;
  max-height: 40px;
  max-width: 38.44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekDisplay button i {
  font-size: 80%;
}

.weekDisplay #date {
  margin: 0.5em auto 0.5em 11%;
}

/* Historiek */

.historiekLayout {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjust this value as needed */
  margin: 0 auto;
  align-items: center;
}

.kop-tekst {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.reservering-tabel {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Adds space between the h2 and the table */
}

.tabel-kop {
  background-color: #007bff;
  color: #fff;
}

.kop-cel,
.lichaam-cel {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.kop-cel {
  font-weight: bold;
}

.tabel-rij:nth-child(even) {
  background-color: #f2f2f2;
}

.tabel-rij:hover {
  background-color: #e9ecef;
}

/* Item toevoegen */

.newArtikel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.addItem {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newArtikelFull {
  background-color: #f5f5f7;
  border: 3px solid rgba(0, 0, 0, 0.432);
  border-radius: 15px;
  margin-top: 3%;
}

.newArtikel input,
.newArtikel textarea,
.newArtikel select {
  max-width: 75%;
}

.newArtikel button {
  margin-top: 3%;
}
