.blacklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e6e6e6;
  color: #000000;
  padding: 0 2% 2% 2%;
}

.first-column {
  flex: 1;
  margin-left: 10%;
 /*background-color: blue;*/
}

.second-column {
  flex: 0.7;
  /*background-color: green;*/
}

.third-column {
  flex: 0.9; 
  display: flex;
  flex-direction: column;
  /*background-color: yellow;*/
}

.third-column .status-wrapper {
  display: flex;
  flex-direction: column;
}

.third-column .status-wrapper .test
{
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}


.third-column textarea {
  width: 100%;
  height: 40%;
  margin-top: -2%;
  resize: none;
}

.third-column button {
  width: 100%;
  height: auto;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Maakt de vorm van de cirkel */

}

.status-green {
  background-color: green;
}

.status-red {
  background-color: red;
}

  

  
  