/*Algemene CSS*/
body {
  font-family: "SF Pro Display", sans-serif;
  color: rgb(88, 88, 88);
  background-color: #e6e6e6;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; /* Zorg ervoor dat de filters naast de catalogus staan */
  min-width: 100%;
}

.highlight {
  background-color: #007bff7b;
  color: white;
}

.start-date {
  background-color: #007bff7d;
  color: white;
}

.end-date {
  background-color: rgba(194, 117, 9, 0.533);
  color: white;
}

.main {
  min-width: 100%;
}

/* Baseball buttons */

.on-off-checkmark input[type="checkbox"],
.on-off-checkmark-small input[type="checkbox"] {
  display: none;
}

.on-off-checkmark label,
.on-off-checkmark-small label {
  display: inline-block;
  margin: 2px;
  padding: 0px 5px 1px 5px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: smaller;
  transition: background-color 0.4s ease;
}

.on-off-checkmark label {
  border: 1px solid #fff;
  color: #fff;
}

.on-off-checkmark-small label {
  border: 1px solid #fff;
  color: #fff;
}

.on-off-checkmark input[type="checkbox"]:checked + label,
.on-off-checkmark-small input[type="checkbox"]:checked + label {
  background-color: #fff;
  color: #2c2e3a;
}

.on-off-checkmark input[type="checkbox"]:hover + label,
.on-off-checkmark-small input[type="checkbox"]:hover + label {
  background-color: #fff;
  color: #2c2e3a;
}

.azForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;
}

.azForm label {
  margin: 0;
  font-weight: bold;
}

.azForm div {
  margin-left: 4px;
}

/*Catalogus*/
/* Mediaquery voor kleine schermen */
h2 {
  text-align: center;
  margin-top: 2%;
}

.reserved-date {
  background-color: rgba(255, 0, 0, 0.43) !important;
  color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(
    0,
    0,
    0,
    0.619
  ); /* Change this to any color you want */
}

.selecteerDatum {
  padding: 2px;
  min-width: fit-content;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 0;
}

.datumth {
  width: 120px;
}

#filterBtn {
  padding: 0;
}

#collapseFilters .card {
  min-height: fit-content;
  max-height: 100%;
}

.catalogus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  min-width: 80%;
  border: 3px solid rgba(0, 0, 0, 0.432);
  border-radius: 15px;
  padding: 10px;
  flex-direction: row !important;
  background: #f5f5f7;
  max-width: 80%;
}

.cardimg {
  display: relative;
  padding-top: 100%;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.cardimg img {
  position: absolute;
  top: 6%;
  left: 5%;
  width: 90%;
  height: 90%;
  justify-content: center;
  object-fit: fill; /* Zorgt ervoor dat de afbeelding correct wordt geschaald */
}
.card {
  width: 50%;
  margin: 1%;
  height: 65vh;
  border: 1px solid black;
  text-align: center;
  background-color: #2c2e3a;
  color: rgb(191, 191, 191);
  cursor: pointer;
  align-items: center;
  overflow: auto; /* Maakt de inhoud van de kaart scrollbaar als deze te groot is */
}

.card-body .description-slide p{
  width: 45%;
  min-height: 100px;
  max-height: 300px;
  /* rest van de stijlen */
  overflow: auto; /* Maakt de inhoud van de description-slide scrollbaar als deze te groot is */
}

.card-content,
.description-slide {
  flex: 1; /* Laat deze elementen de beschikbare ruimte binnen de kaart innemen */
  overflow-y: auto; /* Voeg een verticale scrollbalk toe indien de inhoud te groot is */
  box-sizing: border-box; /* Inclusief padding en border in de hoogte- en breedteberekeningen */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  height: 50px;
  overflow: hidden;
  margin: 0;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  max-height: 20%;
}

.carousel {
  min-width: 100%;
}

.description-slide {
  max-height: max-content; /* Stel een maximale hoogte in voor de beschrijving */
  overflow-y: auto; /* Voeg een verticale scrollbalk toe als de inhoud de max hoogte overschrijdt */
  width: 100%; /* Zorg ervoor dat de beschrijving de volledige breedte inneemt */
  padding: 10px;
  box-sizing: border-box; /* Inclusief padding en border in de hoogte- en breedteberekeningen */
}

.description-slide p {
  text-align: left;
}

.datumReserveer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  height: 50px;
  overflow: hidden;
  margin: 0;
}

.carouselBtn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  height: 20%; /* Adjust the height as needed */
  width: 20%; /* Adjust the width as needed */
}

.carouselBtn.prev {
  left: 10px; /* Position the previous button */
}

.carouselBtn.next {
  right: 10px; /* Position the next button */
}

.carouselBtn i {
  color: white;
  margin: 10px; /* Adjust margin as needed */
}

.unavailable {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
}
.unavailable::after {
  content: "Niet beschikbaar";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .card {
    width: 100%;
    height: 55vh;
  }
  
}
@media screen and (max-width: 500px) {
  nav {
    max-width: 100%;
  }

  .card {
    height: 50vh;
  }

  .container {
    flex-direction: column;
    padding: 0 2%;
  }

  .tekst {
    text-align: center;
    max-width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  #typeLabel {
    margin-top: 5px;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px 0 !important;
  }

  .searchForm input {
    min-width: 80%;
  }

  .filters {
    min-width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
  }

  #filterForm {
    min-width: 100%;
    margin-bottom: 0 !important;
  }

  #filterFormSmall {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
  }

  #collapseFilterBtn {
    background-color: #2c2e3a;
    border: none;
    color: rgb(191, 191, 191);
  }

  #collapseFilters {
    min-width: 100%;
    margin: 0;
  }

  #collapseFilters .card {
    min-width: 100%;
    min-height: 600px !important;
    max-height: 600px !important;
    margin: 0;
    border-top: none;
  }

  #collapseFilters .card .card-body {
    min-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .card-body #filterForm {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .filter-col-1 {
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 553px;
  }

  .merkenSmall {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .merkenSmall div {
    max-width: 45%;
    min-width: 45%;
    margin-bottom: 5px;
  }

  .card-body {
    display: inline;
  }
  .filter-col-2 {
    max-width: 50%;
    min-width: 50%;
    min-height: 100%;
    padding: 0 10px 0 10px;
    border-left: #c5c8cb 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .azForm {
    justify-content: center !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  #datumLabel {
    margin-top: 20px;
  }

  #toggle-icon {
    display: block;
  }

  .catalogus {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

/* filters */

.filters {
  display: flex;
  float: left;
  min-width: 15%; /* Breedte van de filters */
  margin-right: 20px; /* Ruimte tussen filters en catalogus */
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: space-between;
  max-width: 15%;
}

#searchicon {
  color: white;
}

#search-addon {
  background-color: #2c2e3a;

  border: none;
}

#search-addon i {
  color: white;
}
#filterBtn {
  min-width: max-content;
  min-height: 36px;

  justify-self: flex-end;
}

.filterBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 2%;
}

.searchForm {
  margin-left: 17%;
  margin-bottom: 1%;
}

#searchBar {
  margin-left: 0;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

#searchBar button {
  min-height: 27px;
}

#searchBar input {
  margin-right: 5px;
  margin-left: 0;
  max-width: max-content;
}

.filterBtns .submitBtn {
  min-width: fit-content;
}

.filterBtns select {
  min-width: fit-content;
  max-width: fit-content;
}

.filterBtns .btn-group {
  max-height: 35px;
}

summary {
  font-weight: bold;
}

#filterForm {
  background-color: #2c2e3a;
  border-radius: 15px;
  padding: 10px;
  color: rgb(191, 191, 191);
  border: 2px solid rgba(0, 0, 0, 0.432);
}

#filterForm .on-off-checkmark {
  margin-bottom: 3px;
}

#datumFilters {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  min-width: 90%;
}

#datumFilters #datums {
  max-width: 85% !important;
  min-width: 85% !important;
  margin-bottom: 0;
}

#datumFilters button {
  margin-bottom: 15px;
  min-width: 50%;
}

/*reservaties*/

.reservatiescherm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  min-width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.432);
  border-radius: 15px;
  padding: 10px;
  flex-direction: row !important;
  background: #f5f5f7;
}

.reservatiescherm .card {
  min-width: 45%;
  max-width: 45%;
  margin: 5px;
  min-height: 640px !important;

  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

.reservatiescherm .card .cardimg {
  max-height: 20% !important;
  padding-top: 95%;
}

.reservatiescherm .card .card-body {
  padding-top: 5px;
}

.reservatiemain {
  min-width: 95%;
}

.reservatiemain a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.reservatiemain a:hover {
  color: rgb(120, 120, 120);
}

.geenreservaties {
  justify-self: center;
  min-width: 70%;
  max-width: 70%;
  border: 3px solid rgba(0, 0, 0, 0.432);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background: #f5f5f7;
}

/* mediaquery voor grotere schermen */
@media screen and (max-width: 899px) {
  .card {
    min-width: 45%;
    max-width: 45%;
    height: 50vh;
  }
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
  .card {
    width: 30%;
    height: 50vh;
  }

}

@media screen and (min-width: 900px) {
  .filters {
    flex-direction: row;
    justify-content: flex-start;
  }

  .card {
    margin-bottom: 15px !important;
    max-width: 30vh;
    
  }

  .filterBtns {
    min-width: 100%;
    justify-content: space-between;
  }

  #filterForm {
    min-width: 30%;
  }

  #searchBar input {
    min-width: 50%;
  }

  #searchBar {
    margin-left: 15px;
    justify-content: flex-start;
  }

  .card-body {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  #searchForm {
    min-width: 70%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 25px;
  }

  .reservatiescherm .card {
    max-width: 22vh !important;
    min-width: 25vh;
  }
}

/*Navigatie*/
.navbar1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navbar {
  background-color: #2c2e3a !important;
}

#usernav {
  position: absolute;
  right: 0;
  top: 1;
  margin-right: 5px;
}

.usernav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav a {
  color: #c5c8cb !important;
}

#logo {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

/* Infopagina */

.Infopagina {
  text-align: center;
  width: 120%;
  border: #333 2px solid;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.reglement {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.reglement h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.reglement .reglementText {
  font-size: 0.9em;
  text-align: left;
}

.reglement .reglementText h4,
.reglement .content p {
  line-height: 1.6;
}

.openingsurenInfopagina,
.AdrescontactInfopagina {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.openingsurenInfopagina p,
.AdrescontactInfopagina p {
  line-height: 1.6;
}

/* Modals */

.modal-img {
  min-width: 80%;
  max-width: 80%;
}

.modal-content {
  background-color: #2c2e3a !important;
  color: rgb(191, 191, 191) !important;
}

.modal-header span {
  color: white;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-footer button {
  background-color: #0066cc !important;
  transition: 0.15s ease-in-out;
  border: none;
}

.modal-body {
  border: none;
  display: flex;
  flex-direction: row;
}
.modal-left {
  min-width: 40%;
  max-width: 40%;
}

/* Popup Modals */

#flashModal .modal-content {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

#flashModalError .modal-content {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

#flashmodal .modal-content .modal-header .close,
#flashModalError .modal-content .modal-header .close {
  color: white !important;
  background-color: transparent !important;
}

#flashSuccessBtn {
  color: #155724 !important;
  background-color: transparent !important;
  border: 1px solid #155724 !important;
  transition: 0.15s ease-in-out;
}

#flashErrorBtn {
  color: #721c24 !important;
  background-color: transparent !important;
  border: 1px solid #721c24 !important;
  transition: 0.15s ease-in-out;
}

#flashErrorBtn:hover {
  color: #7d4046 !important;
  background-color: transparent !important;
  border: 1px solid #7d4046 !important;
}

#flashSuccessBtn:hover {
  color: #275f34 !important;
  background-color: transparent !important;
  border: 1px solid #275f34 !important;
}

#flashModal .modal-content,
#flashModalError .modal-content {
  text-align: center;
}

#flashModalBody {
  display: block;
}

/*Gebruikersprofiel*/
.Gebruikersprofiel {
  width: 50%;
  height: auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 2% auto auto auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.Gebruikersprofiel h2 {
  text-align: center;
  margin-bottom: 20px;
}

.Gebruikersprofiel img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto 20px;
}

.Gebruikersprofiel p {
  margin-bottom: 30px;
  margin-left: 40%;
  margin-top: -31px;
}

#phoneInput {
  margin-left: 40%;
}

#profilePictureInput {
  margin-left: 32%;
}
